<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/estilo_form.css">

	<style>
		.alert-danger,
		.alert-success {
		display: flex;
		padding: 1rem;
		border: none;
		border-radius: 0.25rem;
		font-size: 1rem;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;
		justify-content: center

		}

		.alert-danger {
		background-color: #dc3545;
		color: #fff;
		}

		.alert-success {
		background-color: #28a745;
		color: #fff;
		}
	</style>

	<title>Contate-me</title>
</head>
<body>
	<nav class="navbar">
		<div class="logo">
			<h1><a href="index.html" style="text-decoration: none; color:#5b5bcd;">My Profile</a></h1>
		</div>
	</nav>
	{% if messages %}
		{% for mensagem in messages %}
			<div class="alert-{{mensagem.tags}}" role="alert">
				{{mensagem}}
			</div>
		{% endfor%}
	
	{% endif %}
	<div class="form-div">
		<form action="{% url 'register' %}" method="POST">
			{% csrf_token %}
			<label for="name">Nome:</label>
			<input type="text" id="name" name="name" required><br>

			<label for="email">E-mail:</label>
			<input type="email" id="email" name="email" required><br>

			<label for="message">Mensagem:</label>
			<textarea id="message" name="message" required></textarea><br>

			<input type="submit" value="Enviar">
		</form>
	</div>
</body>
</html>
